.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.6rem;
  background-color: #ffffff;
}

.messages-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 1.6rem 0 1.6rem;
  overflow-y: auto; 
}
.message {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 1rem 0;
  max-width: 66%;
}
.message.me {
  align-self: flex-end
}
.message:first-child {
  padding-top: 2rem;
}
.message:last-child {
  padding-bottom: 2rem;
}
.message-user,
.message-date {
  font-size: 1.4rem;
  color: #b0b0b0;
}
.message-text pre {
  margin: 0;
  white-space: pre-wrap;
}

.input-container {
  display: flex;
  flex-direction: row;
  padding: 1.6rem;
  background-color: #b0b0b0;
}
.input-text {
  flex: 1;
  resize: none;
}
.input-button {
  background-color: transparent;
  border: none;
  padding: 0 0 0 1.6rem;
  font-size: 1.6rem;
  font-weight: bold;
}