.loading-container {
  flex: 1;
  display: flex;
}
.loading-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1.6rem 1.6rem;
  font-size: 1.6rem;
}
.loading-spinner-container {
  display: flex;
}
.loading-spinner {
  display: flex;
  flex: 1;
}
.loading-icon {
  margin: 0 auto;
}