.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.6rem;
  background-color: #ffffff;
}
.login-text {
  margin: 1rem;
}
.login-button {
  background-color: transparent;
  border: none;
  margin: 1rem;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: bold;
}